<div id="page-bookings">
  <div class="row">
    <div class="col-4 card-profile mt-5">
      <div class="d-flex flex-column" data-action="click->show-offer#show">
         <h2>Your Bookings</h2>
         <% if @bookings.present? %>
           <% @bookings.each do |booking| %>
             <%= render 'shared/booking_card', selected_offer: @offer, booking: booking %>
            <% end %>
          <% else %>
            <p><em> You have no bookings yet. </em></p>
          <% end %>
        </div>
    </div>

    <div class="col-7 card-profile mt-5" data-tabs-target="details">
      <div class="d-flex flex-column">
          <%= render 'bookings-details', offer: @offer %>
        </div>
      </div>
  </div>
</div>
