<% if @conversation %>
  <div>
    <h2>Conversation with <%= conversation.with(current_user).first_name %>
        about <%= conversation.offer.title %>
    </h2>
    <br>
    <% @messages.each do |message| %>
      <%= render 'shared/message_card', message: message %>
    <% end %>
    <br>
    <%= render 'conversations/message_form' %>
  </div>
<% end %>
