<%# <div class="container">
  <div class="row">
    <div class="col-4 card-profile mt-5">
      <div class="d-flex flex-column">
         <h2>Your Conversations</h2>
         <% if @conversations.present? %>
            <%# <%  @conversations.each do |conversation| %>
             <%# <%= render 'shared/conversation_card', conversation: conversation, selected_conversation: @conversation  %>
            <%# <% end %>
          <%# <% else %>
            <%# <p><em> You did not start any conversations yet. </em></p>
          <%# <% end %>
        <%# </div>
    </div> %> %> %> %> %> %> %>


    <%# <div class="col-7 card-profile mt-5">
      <div class="d-flex flex-column">
          <%= render 'conversation-details', conversation: @conversation %>
        <%# </div>
      </div>
    </div>

  </div>

</div> %> %> %>
