// Define variables for your color scheme

// For example:
$red: #fd1015;
// $blue: #0D6EFD;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #171717;
$light-gray: #f4f4f4;

// You go color schemes
$blue: #0F5E80;
$icon-gray: rgb(125, 125, 125);
$inactive-gray: rgb(205, 205, 205);
$coral: #ed6a5a;
$yellow-star: #E5C100;
