// .dashboard {
//   height: 100vh;
// }

.sidebar {
  color: $white;
  background-color: $primary;
  display: flex;
  justify-content: center;
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  font-weight: lighter;
  i {
    margin-right: 20px;
  }
  #sidebar-tabs {
    position: sticky;
    top: 60px;
    height: 100vh;
  }

  .sidebar-menu-item {
    cursor: pointer;
  }
}

.edit-icon {
  cursor: pointer;
}

.card-profile {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 25px;
  height: fit-content;
  h2 {
    color: $primary;
  }
  i {
    color: grey;
    font-size: 18px;
    margin-right: 10px;
  }
  p {
    color: rgba(20, 20, 20, 0.9);
  }
  margin: 0px 15px;
}

.card-profile-details {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 25px;

  h2 {
    color: $primary;
  }
  margin: 0px 25px;
  label {
    font-size: x-small;
  }
  input {
    border-radius: 8px;
    border-color: $inactive-gray !important;
    margin-right: 4px;
  }
}

.link-hover-red {
  a {
    text-decoration-line: none;

    &:hover, &:hover > h2 > span {
      color: $coral;
    }
  }
}

.conversation-details-box {
  overflow-y: scroll;
  height: 80vh;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;


  h2 {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 50;
    right: 0px;
    padding: 20px 0px;
  }

  .enter-message-section {
    position: sticky;
    bottom: 0px;
    background-color: white;
    padding-bottom: 12px;
  }
}

.card-sport-category {
  border: 1px solid $inactive-gray;
  border-radius: 8px;
  width: 136px;
  height: 110px;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  i {
    font-size: 40px;
  }
  &:hover i {
    color: $primary;
  }
  cursor: pointer;
}
.clickable.active {
  color: inherit;
  border-color: $primary;
  i {
    color: $primary;
  }
}

#your-sport {
  p {
    line-height: 2;
  }
}

.list-wishlist {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 25px;
  h2,
  i {
    color: $primary;
  }
  p {
    color: rgba(20, 20, 20, 0.8);
  }
  margin: 0px 15px;
}

.new-message-input {
  display: flex;
  margin-top: 32px;
  justify-content: flex-end;
  height: 50px;

  .btn {
    padding: 5px;
    margin-left: 12px;
  }

  div {
    flex-grow: 1;
  }

  textarea {
    height: 50px;
  }
}
