#offer-header {
  #tagline {
    //h6
    font-size: 10px;
  }
  #desc {
    font-size: 18px;
  }
}

.card-offer-details {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 25px;

  h2,
  h3,
  i {
    color: $blue;
  }
  i {
    color: $blue;
    margin-right: 15px;
  }
}

.card-review-form {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 25px;
  h2,
  h3 {
    color: $blue;
  }
}

.card-review {
  display: flex;
  border: 1px solid $blue;
  border-radius: 8px;

  #review-rating {
    background-color: $blue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    i {
      color: $yellow-star;
    }
    text-align: center;
    width: 20%;
  }

  #review-comment {
    padding: 10px 15px;
    p {
      margin-bottom: 0px; // kill margins
    }
    width: 80%;
  }
}

#offer-avg-rating {
  i {
    color: $yellow-star;
  }
}

#offer-add-favorite {
  i {
    color: rgba(54, 54, 54, 0.5);
    font-size: 18px;
  }
}
