<h1>Coversation with <%= @conversation.with(current_user).first_name %></h1>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.messages %>
  </div>

  <%= render 'message_form' %>
</div>
