<span class="card-favourites card-favourites-inactive"
    data-url="<%= offer_likes_path(offer.id)%>"
    data-add-favourite-target="heart"><i class="far fa-heart"
    data-action="click->add-favourite#addHeart"></i></span>
