 <span class="card-favourites card-favourites-active"
    data-url="<%= offer_like_path(offer.id, like.id)%>"
    data-add-favourite-target="heart"><i class="fas fa-heart"
    data-action="click->add-favourite#removeHeart"></i></span>
