<div class="card-container">
      <span class="card-favourites-inactive">💔</span>
  <div class="card-head">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  </div>
  <div class="card-body ">
      <div class="card-body-top">
        <div class="card-body-heading">Hiking the Alps with Daniela More text as test</div>
        <div class="card-rating">5</div>
      </div>
      <div class="card-body-bottom">
        <div>Alps More text as test</div>
        <div>35€/person</div>
      </div>
  </div>

</div>
