<%= link_to "/offers?query=watersports", class: "text-decoration-none" do %>
<%# Hard coded link to watersports category for now %>
  <div class="category-card">
    <%= image_tag "tag-watersports.jpg" %>
    <div class="category-card-infos">
      <h2>Watersports</h2>
    </div>
  </div>
<% end %>
