<div class="category-card">
  <img src="https://images.unsplash.com/photo-1597799119438-cbf326f268b9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2066" />
  <div class="category-card-infos">
    <h2>Watersports</h2>
  </div>
</div>
