<%= link_to "/offers?query=#{tag.category}", class: "text-decoration-none" do %>
<%# Hard coded link to watersports category for now %>
  <div class="category-card">
     <%= cl_image_tag tag.photo.key %>
    <div class="category-card-infos">
      <h2><%= tag.category.capitalize %></h2>
    </div>
  </div>
<% end %>
