  <div id="carouselExampleControls" class="carousel slide carousel-dark mt-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @offer.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
          <% style="carousel-item active"%>
        <% else %>
          <% style="carousel-item"%>
        <% end %>
        <div class="<%=style%>">
          <%= cl_image_tag photo.key, class:"d-block" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
