<div>
  <h3>Details</h3>
  <p><i class="fas fa-map-marker-alt"></i> Street 1, Hawaii, USA</p>
  <p><i class="far fa-clock"></i> 03 September 2022, 9am</p>
  <p><i class="fas fa-users"></i> Up to 12 participants</p>
  <p><i class="fas fa-euro-sign"></i> 65€ per person</p>
  <p><i class="fas fa-link"></i> Hosted on Get Your Guide</p>
  <%= link_to 'Book now', root_path, class: 'btn btn-slim' %>
</div>
