<div class="d-flex justify-content-evenly align-items-center icons-container">
  <div class="icon-box"><i class="fas fa-anchor"></i>DIVING</div>
  <div class="icon-box"><i class="fas fa-swimmer"></i>SWIMMING</div>
  <div class="icon-box"><i class="fas fa-water"></i>WATER SPORTS</div>
  <div class="icon-box"><i class="fas fa-table-tennis"></i>TENNIS</div>
  <div class="icon-box"><i class="fas fa-tram"></i>TOURS</div>
  <div class="icon-box"><i class="fas fa-blind"></i>HIKING</div>
  <div class="icon-box"><i class="fas fa-volleyball-ball"></i>VOLLEYBALL</div>
  <div class="icon-box"><i class="fas fa-football-ball"></i>FOOTBALL</div>
  <div class="icon-box"><i class="fas fa-skiing"></i>WINTER SPORTS</div>
</div>
<div class="btn-centered-container">
    <button class="btn-slim">Show Map</button></div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
  </div>
</div>
