<div class="icons-container">
  <div class="icon-box"><i class="fas fa-anchor"></i>DIVING</div>
  <div class="icon-box"><i class="fas fa-swimmer"></i>SWIMMING</div>
  <div class="icon-box"><i class="fas fa-water"></i>WATER SPORTS</div>
  <div class="icon-box"><i class="fas fa-table-tennis"></i>TENNIS</div>
  <div class="icon-box"><i class="fas fa-tram"></i>TOURS</div>
  <div class="icon-box"><i class="fas fa-blind"></i>HIKING</div>
  <div class="icon-box"><i class="fas fa-volleyball-ball"></i>VOLLEYBALL</div>
  <div class="icon-box"><i class="fas fa-football-ball"></i>FOOTBALL</div>
  <div class="icon-box"><i class="fas fa-skiing"></i>WINTER SPORTS</div>
</div>
