.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-warning {
  background-color: #ffffff;
  border-color: #ffc65a;
  color: #b94a48;
  text-align: left;
  border-radius: 8px;
}

.alert-info,
.alert-success,
.alert-notice  {
  background-color: #ffffff;
  border-color: #ffc65a;
  color: #38868e;
  text-align: left;
  border-radius: 8px;
}
