.btn {
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 32px;
  text-align: center;
}

.btn-slim {
  background-color: $secondary;
  color: #ffffff;

  &:hover {
    color: $secondary;
    border: 2px solid $secondary;
    background-color: transparent;
  }
}

.btn-slim-white {
  color: #ffffff;
  border: 2px solid #ffffff;

  &:hover {
    background-color: $primary;
    color: $primary;
  }
}

.btn-slim-secondary {
  background-color: transparent;
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: #ffffff;
  }
}
