.search-card {
  width: 40 px;
  height: 50 px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

// Shared cards

.card-container {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  position: relative;


  .card-favourites-inactive {
    position: absolute;
    width: 20px;
    height: 18px;
    right: 10px;
    top: 10px;

  }


  .card-head {
      img {
        border-radius: 16px 16px 0px 0px;
        min-height: 250px;
        object-fit: cover;
        width: 100%;
      }
  }

  .card-body {
    padding: 20px 12px;

    .card-body-top {
      position: relative;
      .card-body-heading {
        color: $primary;
        display: flex;
        font-size: 12px;
        font-weight: bolder;
        justify-content: space-between;
        line-height: 12px;
        padding: 8px 0px 8px 0px;
        text-transform: uppercase;

      }

      .card-rating {
        background: white;
        border: 0.5px solid $blue;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bolder;
        height: 24px;
        position: absolute;
        right: 4px;
        text-align: center;
        top: -32px;
        width: 24px;
      }

    }

    .card-body-bottom {
      align-items: flex-end;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
    }
  }
}

// Category cards

.category-card {
  overflow: hidden;
  height: 87px;
  width: 391px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.category-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.category-card h2 {
  font-size: 16px;
  margin: 0;
}

.category-card .category-card-infos {
  padding: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 398px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
