.search-card {
  width: 40 px;
  height: 50 px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

// Shared cards

.card-container {
  height: 22rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position: relative;

  .card-favourites-inactive {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $light-gray;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); // to make it visible on white cards
  }
  .card-favourites-active {
    position: absolute;
    right: 15px;
    top: 15px;
    color: orangered; // TODO change this
    font-size: 24px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  }

  // .far {
  //   position: absolute;
  //   right: 15px;
  //   top: 15px;
  //   color: $light-gray;
  //   font-size: 24px;
  // }

  .card-head {
    img {
      border-radius: 16px 16px 0px 0px;
      height: 250px;
      object-fit: cover;
      width: 100%;
    }
  }

  .card-body {
    padding: 20px 12px;

    .card-body-top {
      position: relative;
      .card-body-heading {
        color: black;
        display: block;
        font-size: 16px;
        justify-content: space-between;
        line-height: 16px;
        padding: 8px 0px 8px 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .card-rating {
        background: $white;
        border: 2px solid $yellow-star;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bolder;
        height: 24px;
        position: absolute;
        right: 4px;
        text-align: center;
        top: -32px;
        width: 24px;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .card-body-bottom {
      align-items: flex-end;
      display: flex;
      font-size: 14px;
      height: 35px;
      color: rgba(0, 0, 0, 0.7);

      justify-content: space-between;
    }
  }
}

// Category cards
// #wishlist-card {
//   margin-bottom: 16px;
// }
.category-card {
  overflow: hidden;
  height: 87px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 16px; //4px; // more spacing for booking and wishlist screen
}

.category-card img {
  height: 87px;
  width: 120px;
  object-fit: cover;
}

.category-card h2 {
  font-size: 16px;
  margin: 0;
  color: black;
}

.category-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.category-card .category-card-infos {
  padding: 16px;
  h2 {
    color: black;
  }
}

.dashboard-list-card {
  position: relative;
  .dashboard-list-card-infos {
    padding: 16px;
    position: absolute;
    left: 80px;
    h2 {
      color: black;
    }
    p {
      font-size: 16px;
    }
  }

  .category-card-initials {
    background-color: $primary;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    position: absolute;
    left: 0px;
  }

  img {
    height: 100%;
    width: 80px;
    display: flex;

    position: absolute;
    left: 0px;
  }
}

.dashboard-list-card-active {
  outline: 2.5px solid $primary;
}

// The big card with video on the homepage
.card-category {
  background-size: cover;
  background-position: center;
  height: 398px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.message-card {
  padding-top: 24px;
  position: relative;

  .user-icon {
    padding: 0px 12px;
    // position: relative;
    width: 100px;

    .message-card-initials {
      background-color: $primary;
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      font-size: 24px;
      position: absolute;
      left: 0px;
    }
  }

  .message-details {
    flex-grow: 1;
    // position: absolute;
    // left: 50px;
  }
}
