.icons-container {
  background-color: $light-gray;
  height: 80px;
  padding: 10px 4rem 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    height: 55px;
    min-width: 80px;
    font-size: x-small;
    color: $icon-gray;

    .fas {
      font-size: 2rem;
    }
  }

  .icon-box:hover {
    border-bottom: 3px solid $blue;
    color: $blue;
    cursor: pointer;
  }
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}
