.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#input-city-navbar {
  border: 1px solid black;
  border-radius: 8px 0px 0px 8px;
  font-size: 12px;
  text-align: center;
  width: 200px;
}

#input-sport-navbar {
  border: 1px solid black;
  border-left: 0px;
  border-radius: 0px 8px 8px 0px;
  font-size: 12px;
  text-align: center;
  width: 200px;
}

.fa-search {
  font-size: 1.5rem;
  display: flex;
}
