.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: white;
    // font-weight: bold;
  }
}
