.navbar-lewagon {
  height: 60px;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  // .container-fluid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  // }

  .avatar {
    border: 1.5px $primary solid;
    padding: 2px;
  }

  .profile-photo {
    border: none;
  }

  .search-navbar {
    align-items: center;
  }

  #input-city-navbar {
    border: 1px solid black;
    border-radius: 8px 0px 0px 8px;
    font-size: 14px;
    text-align: center;
    width: 300px;
  }

  #input-sport-navbar {
    border: 1px solid black;
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    font-size: 14px;
    text-align: center;
    width: 300px;
  }

  .fa-search {
    font-size: 1.5rem;
    color: $icon-gray;
  }

  .far {
    display: inline-block;
    margin: 0 0.5rem;
    color: $black;
    font-size: 1.85rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 20px;
}

// Homepage navbar - transparent
.navbar-home {
  width: 100%;
  background: transparent;
  box-shadow: none;
  position: relative;

  .nav-link {
    color: white;
    // font-weight: bold;
  }
  // hide search bozes on homepage
  #input-city-navbar,
  #input-sport-navbar,
  .fa-search {
    display: none;
  }
}
