.photo-grid-first-two {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  grid-gap: 4px;
  align-items: center;

  img {
    border-radius: 12px;
    height:100%;
  }


}

// .photo-grid-one-photo {
//   display: grid;
//   grid-template-columns: 1fr;
//   justify-items: center;
// }

.grid-border {
  position: relative;
  button {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: rgba(225,225,225,0.25);

    &:hover {
      color: #ffffff;
      background-color: rgba(225,225,225,0.5);
      border: 2px solid #ffffff;
    }
  }
}
