#recommendations-container {
  // border: 4px solid $secondary;
  border-radius: 16px;
  padding: 16px;
}

.recommendation {
  display: grid;
  position: relative; // imperative for the overlapping to work
  grid-template-columns: repeat(24, 1fr);
  margin: 8px;
  width: 33%;

  // &:first-child {
  //   width: 20%;
  // }
  // &:nth-child(2) {
  //   width: 25%;
  // }
  // &:nth-child(3) {
  //   width: 25%;
  // }
  // &:last-child {
  //   width: 30%;
  // }
}

.svg-number {
  grid-row: 1;
  grid-column: 1 / span 6;
  padding-top: 10%; // slightly arbitrary, keeps proportion once resized
  height: 200px;
}

.recommended-offer {
  grid-column: 7 / -1;
  grid-row: 1;
  z-index: 1; // tells the browser to make this image on top
}
